.projects-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-bg);
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #69696982;
}

.projects-container > .title {
  font-family: var(--font-title);
  color: #fefefe;
  padding: 15px 30px;
  height: auto;
  font-weight: 400;
  align-self: flex-start;
}
