.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 400px;
  background-color: var(--color-bg);
  margin: auto;
  padding: 30px 0;
}

.desc > .text {
  width: 70%;
  min-height: 300px;
  color: #f1f1f1;
  font-family: var(--font-paragraph);
  letter-spacing: 1px;
  inline-size: 30%;
  text-align: justify;
  font-size: 18px;
}

.desc > .profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
