.home-container {
  display: flex;
  width: 80%;
  height: 850px;
  margin: auto;
  background-color: var(--color-bg);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #69696982;
}
