.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: var(--color-bg);
  margin: auto;
  padding: 30px 0;
  border-bottom: 1px solid #69696982;
}

.about-container > h1 {
  font-family: var(--font-title);
  color: #fefefe;
  padding: 15px 30px;
  font-weight: 400;
}
