.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 500px;
  background-color: var(--color-bg);
  margin: auto;
  padding: 30px 0;
}
