.circular-text {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-text__char {
  position: absolute;
  transform-origin: center center;
}
