body {
  margin: 0;
  padding: 0;
  background-color: #222433;
}

.App {
  background-color: #222433;
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.border-left {
  width: 10%;
  min-height: 3377px;
  background-color: #222433;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.border-right {
  width: 10%;
  min-height: 3377px;
  background-color: #222433;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
