.carrousel-wrapper {
  overflow: hidden;
  width: 80%;
  background-color: var(--color-bg);
  border-bottom: 1px solid #69696982;
  margin: auto;
}

.carrousel-container {
  display: flex;
  width: calc(100% * 6);
  animation: carrouselAnimation 20s linear infinite;
}

.carrousel {
  flex: 1 0 auto;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes carrouselAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
