.carrousel-container {
  display: flex;
  width: 80%;
  height: 300px;
  margin: auto;
  background-color: var(--color-bg);
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #69696982;
}

.carrousel {
  width: 100px;
  height: 100px;
}
